

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <br />
  <br />

  <br />
  <br />
  <body>
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <main id="carousel">
      <div class="item"><img src="https://i.pinimg.com/564x/1b/73/a1/1b73a1f84d4e628377a08c6fe9180aee.jpg" height="400px" width="300px"> </div>
      <div class="item"><img src="https://i.pinimg.com/564x/77/06/26/7706260de8a6ca5ddea31ce87b113356.jpg" height="400px" width="300px"></div>
      <div class="item"><img src="https://i.pinimg.com/564x/46/f7/65/46f7653388f94c89c68f05de619cde47.jpg" height="400px" width="300px"></div>
      <div class="item"><img src="https://i.pinimg.com/564x/3d/b9/de/3db9deb8245794fd0f2b98b48694ba09.jpg" height="400px" width="300px"></div>
      <div class="item"><img src="https://i.pinimg.com/564x/68/b0/44/68b0442251595c724a4f835f444232e6.jpg" height="400px" width="300px"></div>
    </main>
  </body>
</html>
<br />
<br />
<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="container-1">
          <a routerLink="/contacto">
            <img
              src="https://pbs.twimg.com/media/EtkErCPWgAA0-B6?format=jpg&name=large"
              style="width: 100%"
            />
            <div
              class="center-1 text-white"
              style="
                background-color: rgba(0, 0, 0, 0.7);
                width: 100%;
                height: 100%;
              "
            >
              <H1 style="margin-top: 50%">¿QUIERES CONTACTARNOS?</H1>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="container-1">
          <a routerLink="/producto">
            <img
              src="http://cdn.shopify.com/s/files/1/0094/6307/0798/articles/1520766519_1506793461_bape-shakr-aceeeceeefdbaf-637952_1200x1200.jpg?v=1587219667"
              style="width: 100%"
            />
            <div
              class="center-1 text-white"
              style="
                background-color: rgba(0, 0, 0, 0.7);
                width: 100%;
                height: 100%;
              "
            >
              <H1 style="margin-top: 50%">¿PRODUCTOS?</H1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<div class="container">
  <div class="elementor-image">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-2">
            <img
              width="100"
              height="100"
              src="https://cdn-icons-png.flaticon.com/512/1326/1326546.png"
              sizes="(max-width: 1042px) 100vw, 1042px"
            />
          </div>
          <div class="top-50 col-6">
            <h1 style="color: black; margin-top: 20px">TIENDA PRINCIPAL</h1>
          </div>
          <div class="row">

            <li>
              <img width="100" height="100" src="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-UBICACION-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-UBICACION-150x150.png 150w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-UBICACION-300x300.png 300w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-UBICACION.png 418w" sizes="(max-width: 150px) 100vw, 150px">
              <b>DIRECCIÓN : Cll. 106 A # 18 B 72</b>
            </li>
            <li>
              <img width="100" height="100" src="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-TELEFONO-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-TELEFONO-150x150.png 150w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-TELEFONO-300x300.png 300w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-TELEFONO.png 417w" sizes="(max-width: 150px) 100vw, 150px">
              <b>TELEFONO : 3107543082</b>
            </li>
            <li>
              <img width="100" height="100" src="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-MAIL-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-MAIL-150x150.png 150w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-MAIL-300x300.png 300w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-MAIL.png 418w" sizes="(max-width: 150px) 100vw, 150px">
              <B>CORREO : shoporiginal@gmail.com</B>
            </li>
            <li>
              <img width="100" height="100" src="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-HORARIO-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-HORARIO-150x150.png 150w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-HORARIO-300x300.png 300w, https://3j1z6j2up0jr3r2zz2111ri2-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/AUTECO-KTM-TIENDA-ICONO-HORARIO.png 417w" sizes="(max-width: 150px) 100vw, 150px">
              <B>HORARIOS : LUNES A VIERNES 9:00 A 18:00</B>
            </li>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <img
            src="https://video-images.vice.com/articles/5ce81819ab712d0008bf34d1/lede/1558715122813-The-Supreme-Vault-1998-2018-Exhibition-1.jpeg?crop=1xw%3A0.8429xh%3B0xw%2C0.0503xh&resize=2000%3A*"
            alt=""
          />
        </div>
        <br />
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/91/9b/02/919b023b76e3ba8b42eb7e4adc3f8a4f.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Vistete a la moda y con la mejor ropa del mercado</b></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/9e/dc/c7/9edcc76937b14f33005ed9df6ae1c1e4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Acercate a nuestra tienda principal para adquirir nuestros productos</b></h5>

      </div>
      <ul class="list-group list-group-flush">

      </ul>
    </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/5e/38/61/5e3861327c79a815119bc138f6e18961.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Conoce de nuestras marcas y las nuevas novedades que tenemos en el mercado</b> </h5>
      <ul class="list-group list-group-flush">

      </ul>
    </div>
    </div>
