<div class="contact-section">
  <h1>Contacto</h1>
  <div class="border"></div>
  <form class="contact-form" action="index.html" method="post">
    <input type="text" class="contact-form-text" placeholder="Tu nombre">
    <input type="email" class="contact-form-text" placeholder="Tu Email">
    <input type="text" class="contact-form-text" placeholder="Tu teléfono">
    <textarea class="contact-form-text" placeholder="Tu mensaje"></textarea>
    <input type="submit" class="contact-form-btn" value="Enviar">
  </form>
</div>