*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.contact-section{
  background: url("https://img.freepik.com/psd-gratis/maqueta-sueter-delante-detras_125540-579.jpg?w=2000") no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
/*https://www.manelsanchez.com/uploads/media/images/585544-010b.jpeg*/
.contact-section h1{
  text-align: center;
  color: #000000;
}
.border{
  width: 100px;
  height: 10px;
  background: #000000;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgba(154, 152, 152, 0.808);
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #0a5aa9;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: rgb(255, 255, 255);
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}
